<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feeds</title>
</head>
<style>
    body {
        background: burlywood;
        font-size: medium;
        text-align: center;
    }
</style>
<body>

    <form method="post" action="post/">
        {% csrf_token %}
        <input type="submit" class="btn-default btn" value="Create Post">
    </form>
    {% for post in posts %}
    <span>
        <b>{{ post.caption }}</b>
    </span>
    <img src="{{ post.image_url}}">
    <h4>
        Posted by: {{ post.user.username}}
    </h4>

    <br><br><br><br>
    {% endfor %}

</body>
</html>