<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<style>
    body {
        background: burlywood;
        color: chocolate;
        font-size: 26px;
        text-align: center;
    }
    input[type="submit"] {
        border: 0px;
        border-radius: 5%;
        background: red;
        color: white;
        width: 100px;
        height: 30px;
        font-size: 20px;
    }
</style>
<body>
    <p>
        You logged out successfully!!!<br>
        <form action="/login/" method="get">
            <input type="submit" class="btn btn-default" value="Login">
        </form>
    </p>
</body>
</html>